@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  width: 100%;
  min-height: 50px;
  background-color: rgb(71, 74, 88);
}
header .header-container {
  width: 80%;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(71, 74, 88);
  position: relative;
  z-index: 6;
}
header .header-container .menu-logo {
  display: flex;
  cursor: pointer;
}
header .header-container .menu-logo img {
  transition: all 0.3s ease 0s;
}
header .header-container .menu-logo .text {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
header .header-container .menu-logo .text h2 {
  font-size: 11px;
  color: #fffefe;
  font-weight: 300;
  font-family: "Poppins";
}
header .header-container .menu-logo .text p {
  font-size: 12px;
  color: #fffefe;
  font-weight: 400;
  font-family: "Poppins";
}
header .header-container .logo {
  font-family: "Montserrat";
  font-size: 21px;
  letter-spacing: 2px;
  color: #fffefe;
  font-weight: 700;
}
header .header-container .statistics {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .statistics .person, header .header-container .statistics .likes, header .header-container .statistics .shop-stat {
  width: 15px;
  height: 15px;
}
header .header-container .statistics .sign-in {
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #e3e3e3;
  font-family: "Montserrat";
  font-size: 12px;
  border-radius: 5px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3882352941);
  transition: all 0.3s ease 0s;
}
header .header-container .statistics .sign-in:hover {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
header .header-container .statistics .sign-in:active {
  transform: scale(0.9);
}
header .burger-menu {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3a54d6;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: all 0.5s ease 0s;
  border-radius: 0 0 10px 10px;
}
header .burger-menu .search {
  display: flex;
  justify-content: center;
}
header .burger-menu .search .search-input {
  width: 50%;
  height: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  border-radius: 5px 0 0 5px;
  padding: 0 10px 0 10px;
  transition: all 0.3s ease 0s;
}
header .burger-menu .search .search-input:focus {
  outline: 1px solid rgb(63, 63, 63);
}
header .burger-menu .search .search-btn {
  width: 100px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #fffefe;
  background-color: rgb(7, 106, 255);
}
header .burger-menu .search .search-btn:hover {
  background-color: rgb(0, 64, 255);
}
header .burger-menu .menu-list {
  display: flex;
  justify-content: space-around;
}
header .burger-menu .menu-list .clothing ul p, header .burger-menu .menu-list .shoes ul p, header .burger-menu .menu-list .equipment ul p, header .burger-menu .menu-list .other ul p {
  font-family: "Oswald";
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 5rem;
}
header .burger-menu .menu-list .clothing ul li a, header .burger-menu .menu-list .shoes ul li a, header .burger-menu .menu-list .equipment ul li a, header .burger-menu .menu-list .other ul li a {
  display: inline-block;
  font-family: "Poppins";
  color: #e3e3e3;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 2rem;
  transition: all 0.2s ease 0s;
}
header .burger-menu .menu-list .clothing ul li a:hover, header .burger-menu .menu-list .shoes ul li a:hover, header .burger-menu .menu-list .equipment ul li a:hover, header .burger-menu .menu-list .other ul li a:hover {
  transform: translateX(8%);
  color: #ffee00;
}
header .burger-menu .menu-list .about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 25px;
}
header .burger-menu .menu-list .about .address, header .burger-menu .menu-list .about .phone, header .burger-menu .menu-list .about .working {
  display: flex;
  gap: 15px;
}
header .burger-menu .menu-list .about .address .text, header .burger-menu .menu-list .about .phone .text, header .burger-menu .menu-list .about .working .text {
  display: flex;
  flex-direction: column;
}
header .burger-menu .menu-list .about .address .text .p1, header .burger-menu .menu-list .about .phone .text .p1, header .burger-menu .menu-list .about .working .text .p1 {
  font-family: "Oswald";
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 2rem;
}
header .burger-menu .menu-list .about .address .text .p2, header .burger-menu .menu-list .about .address .text .p3, header .burger-menu .menu-list .about .phone .text .p2, header .burger-menu .menu-list .about .phone .text .p3, header .burger-menu .menu-list .about .working .text .p2, header .burger-menu .menu-list .about .working .text .p3 {
  display: inline-block;
  font-family: "Poppins";
  color: #e3e3e3;
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 1.5rem;
  transition: all 0.2s ease 0s;
}
header .burger-menu .menu-list .about .address img, header .burger-menu .menu-list .about .phone img, header .burger-menu .menu-list .about .working img {
  width: 30px;
  height: 30px;
}
header .burger-menu .menu-list .menu-nav {
  margin-top: 25px;
}
header .burger-menu .menu-list .menu-nav ul li a {
  display: inline-block;
  font-family: "Poppins";
  color: #e3e3e3;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 2rem;
  transition: all 0.2s ease 0s;
}
header .burger-menu .menu-list .menu-nav ul li a:hover {
  transform: translateX(8%);
  color: #ffee00;
}

main .swiper-products {
  width: 100%;
  min-height: 600px;
}
main .swiper-products .swiper-1 {
  width: 100%;
  height: 100%;
}
main .swiper-products .swiper-1 .swiper-slide:nth-child(2) {
  background: url("../img/wall/bg-1.webp") top/cover no-repeat;
}
main .swiper-products .swiper-1 .swiper-slide:nth-child(3) {
  background: url("../img/wall/bg-2.webp") top/cover no-repeat;
}
main .swiper-products .swiper-1 .swiper-slide:nth-child(4) {
  background: url("../img/wall/bg-3.webp") top/cover no-repeat;
}
main .swiper-products .swiper-1 .swiper-slide:nth-child(5) {
  background: url("../img/wall/bg-4.webp") top/cover no-repeat;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide {
  min-height: 600px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  margin-left: 20%;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide .text .text1 {
  font-family: "Poppins";
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide .text .text2 {
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 20px;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide .swiper-content {
  font-size: 80px;
  letter-spacing: -5px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  margin-left: 50%;
  transform: translateX(-50%);
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide button {
  background-color: rgba(255, 255, 255, 0.24);
  width: 160px;
  height: 50px;
  border-radius: 25px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  margin-left: 20%;
  transition: all 0.3s ease 0s;
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide button:hover {
  background-color: rgba(255, 255, 255, 0.397);
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide button:active {
  transform: scale(0.9);
}
main .swiper-products .swiper-1 .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .swiper-products .swiper-1 .next1 {
  font-family: "Rubik";
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 30px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.26);
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) translateX(600%);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
main .swiper-products .swiper-1 .next1:active {
  transform: translateY(-50%) translateX(580%);
}
main .swiper-products .swiper-1 .prev1 {
  font-family: "Rubik";
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 30px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.26);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-700%);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
main .swiper-products .swiper-1 .prev1:active {
  transform: translateY(-50%) translateX(-680%);
}
main .content-container {
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main .content-container .content-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
main .content-container .content-1 .item-1, main .content-container .content-1 .item-2, main .content-container .content-1 .item-3, main .content-container .content-1 .item-4 {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .content-container .content-1 .item-1 img, main .content-container .content-1 .item-2 img, main .content-container .content-1 .item-3 img, main .content-container .content-1 .item-4 img {
  width: 50px;
  height: 50px;
}
main .content-container .content-1 .item-1 .text, main .content-container .content-1 .item-2 .text, main .content-container .content-1 .item-3 .text, main .content-container .content-1 .item-4 .text {
  width: 70%;
  margin: 0 auto;
}
main .content-container .content-1 .item-1 .text h3, main .content-container .content-1 .item-2 .text h3, main .content-container .content-1 .item-3 .text h3, main .content-container .content-1 .item-4 .text h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #111111;
  font-family: "Oswald";
  text-align: center;
  line-height: 50px;
}
main .content-container .content-1 .item-1 .text p, main .content-container .content-1 .item-2 .text p, main .content-container .content-1 .item-3 .text p, main .content-container .content-1 .item-4 .text p {
  font-size: 14px;
  text-transform: uppercase;
  color: #434343;
  font-family: "Oswald";
  text-align: center;
  line-height: 20px;
}
main .content-container .content-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(400px, auto);
}
main .content-container .content-2 .sale-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .content-container .content-2 .sale-content .sale-text {
  width: 60%;
}
main .content-container .content-2 .sale-content .sale-text .title {
  font-size: 35px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #171717;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
}
main .content-container .content-2 .sale-content .sale-text .description {
  font-size: 16px;
  letter-spacing: 0px;
  color: #505050;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  line-height: 2rem;
  margin: 2rem 0;
}
main .content-container .content-2 .sale-content .sale-text .price {
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2a4aff;
  font-weight: 800;
  font-family: "Rubik";
  text-align: center;
}
main .content-container .content-2 .sale-content .sale-text .price .price-span {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #515151;
  font-weight: 800;
  font-family: "Rubik";
  text-align: center;
  text-decoration: line-through;
  margin-left: 20px;
}
main .content-container .content-2 .sale-content .sale-text .date {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
main .content-container .content-2 .sale-content .sale-text .date p {
  width: 25%;
  margin-top: 5px;
  font-size: 25px;
  line-height: 15px;
  text-transform: uppercase;
  color: #111111;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  display: flex;
  flex-direction: column;
}
main .content-container .content-2 .sale-content .sale-text .date .day::after {
  content: "day";
  font-size: 10px;
  margin-top: 2px;
}
main .content-container .content-2 .sale-content .sale-text .date .hours::after {
  content: "hours";
  font-size: 10px;
  margin-top: 2px;
}
main .content-container .content-2 .sale-content .sale-text .date .min::after {
  content: "min";
  font-size: 10px;
  margin-top: 2px;
}
main .content-container .content-2 .sale-content .sale-text .date .sec::after {
  content: "sec";
  font-size: 10px;
  margin-top: 2px;
}
main .content-container .content-2 .sale-img {
  flex: 0 0 33.333%;
  position: relative;
}
main .content-container .content-2 .sale-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
main .content-container .content-3 {
  width: 100%;
  display: flex;
  padding: 50px 0;
}
main .content-container .content-3 .popular-products, main .content-container .content-3 .newest-products, main .content-container .content-3 .discounted-products {
  width: 33.33%;
  height: 70px;
  color: #888888;
  font-family: "Poppins";
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #f7f7f7;
  transition: all 0.3s ease 0s;
}
main .content-container .content-3 .popular-products:hover, main .content-container .content-3 .newest-products:hover, main .content-container .content-3 .discounted-products:hover {
  background-color: rgb(197, 197, 197);
  color: #f7f7f7;
}
main .content-container .content-3 .popular-products {
  background-color: #2a4aff;
  color: #f7f7f7;
}
main .content-container .content-4 {
  width: 100%;
}
main .content-container .content-4 .products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
}
main .content-container .content-4 .products .product {
  flex: 0 0 33.333%;
  position: relative;
  height: 300px;
}
main .content-container .content-4 .products .product img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
main .content-container .content-4 .products .product .description {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 100%;
  z-index: 5;
  transform: translateY(-100%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main .content-container .content-4 .products .product .description .title {
  margin-left: 10px;
  font-size: 17px;
  color: #111111;
  font-family: "Oswald";
}
main .content-container .content-4 .products .product .description .price {
  margin-left: 10px;
  font-size: 14px;
  color: #2344e8;
  font-weight: 500;
  font-family: "Poppins";
}
main .content-container .content-4 .products .product .product-hover {
  width: 100%;
  height: 100%;
  background: #2344e8;
  position: relative;
  z-index: 4;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
main .content-container .content-4 .products .product .product-hover:hover {
  opacity: 95%;
}
main .content-container .content-4 .products .product .product-hover .brand {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  position: absolute;
  top: 10%;
  left: 10%;
}
main .content-container .content-4 .products .product .product-hover .sale-info {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  padding: 5px 10px;
  background: #000;
}
main .content-container .content-4 .products .product .product-hover .buy-product {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
  width: 130px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #111111;
  transition: all 0.3s ease 0s;
}
main .content-container .content-4 .products .product .product-hover .buy-product:hover {
  background-color: #e4e4e4;
}
main .content-container .content-4 .products .product .product-hover .buy-product:active {
  top: 50%;
  left: 10%;
  transform: translateY(-100%) scale(0.9);
}
main .content-container .content-4 .products .product .product-hover .view-images {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/ico/view.png") center/cover no-repeat;
  background-size: 15px 15px;
  background-color: rgba(255, 255, 255, 0.242);
  transition: all 0.3s ease 0s;
}
main .content-container .content-4 .products .product .product-hover .view-images:hover {
  background-color: rgba(233, 230, 230, 0.4392156863);
}
main .content-container .content-4 .products .product .product-hover .view-images:active {
  top: 50%;
  left: 60%;
  transform: translateY(-100%) scale(0.9);
}
main .content-container .content-4 .products .product .product-hover .like {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-100%) translateX(-100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/ico/like.png") center/cover no-repeat;
  background-size: 15px 15px;
  background-color: rgba(255, 255, 255, 0.242);
  transition: all 0.3s ease 0s;
}
main .content-container .content-4 .products .product .product-hover .like:hover {
  background-color: #ff0101;
}
main .content-container .content-4 .products .product .product-hover .like:active {
  top: 50%;
  left: 90%;
  transform: translateY(-100%) translateX(-100%) scale(0.9);
}
main .content-container .content-4 .more-products {
  width: 100%;
}
main .content-container .content-4 .more-products .more-products-btn {
  width: 100%;
  height: 50px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #111111;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 20; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgba(0, 0, 0, 0.582); /* Черный с непрозрачностью */
}

.modal-content {
  width: 400px;
  height: 270px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #3a54d6;
}
.modal-content .sign-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modal-content .sign-modal .title {
  width: 100%;
  font-size: 16px;
  letter-spacing: 0px;
  color: #f7f7f7;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  line-height: 2rem;
}
.modal-content .sign-modal .login, .modal-content .sign-modal .password {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 1px;
}
.modal-content .sign-modal .submit {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 14px;
  letter-spacing: 0px;
  color: #000000;
}
.modal-content .sign-modal .error {
  height: 20px;
  margin: -20px 0;
  font-family: "Montserrat";
  font-size: 14px;
  letter-spacing: 0px;
  color: #ff0000;
}

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-130%);
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  width: 200px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */